
.row{
    margin-top: 6.5rem;
}
.row__btn{
    margin-top: 1.5rem;
}
.img__inicio{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
h1, p{
    text-align: center;
}
.title{
    font-weight: 600;
}
.description{
    color: #71727A;
}
.btn__inicio{
    font-size: 18px;
    font-weight: bolder;
}