<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed>
    <ion-row class="row">
      <ion-col size="12">
        <img src="../../../assets/images/mascaratittle.png" alt="logo imagen" srcset="" class="img__inicio">
      </ion-col>
      <ion-col size="12">
        <h1 class="title">Bienvenido</h1>
        <p class="description">Jugador o jugadora adentrate a descubrir un nuevo modo de juego y divierte por horas
          jugando como ELSantos
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="row__btn">
        <ion-col size="12" class="col__btn">
          <ion-menu-toggle>
            <ion-button expand="block" class="btn__inicio">
              Comenzar
            </ion-button>
          </ion-menu-toggle>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>