<ion-card>
  <img [src]="detalleArma.imagen ? detalleArma.imagen : '../../../assets/images/mascaratittle.png'">
  <ion-card-header>
    <ion-card-title class="card__subtitle">{{detalleArma.nombre}}</ion-card-title>
  </ion-card-header>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          Daño: {{detalleArma.dano}} 
        </ion-item>
        <ion-item>
          Descripcion: {{detalleArma.descripcion}} 
        </ion-item>
        <ion-item>
          Costo: ${{detalleArma.costo}} 
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-card>  

<ion-footer no-border>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="regresar()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-label>Regresar</ion-label>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>
